#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img {
  width: 450px;
  height: 450px;
}

nav {
  display: flex;
  justify-content: right;
  position: fixed;
  top: 0px;
  right: 24px;
  width: 100%;
  background-color: aqua;
}

nav>a {
  margin: 0 12px;
}

nav>a:hover {
  text-decoration: underline;
}

.item_card {
  border: 1px solid red;
  border-radius: 5%;
}